@inject IBalanceRepository Repository
@inject NavigationManager Navigation
@page "/balancas/nova"

<PageTitle>Nova Balança</PageTitle>

<h3>Nova Balança</h3>

<BalanceForm IsEditMode="false" OnValidBalanceSubmit="HandleSubmit" />

@code {
    private async Task HandleSubmit(Balance balance)
    {
        await Repository.AddAsync(balance);
        Navigation.NavigateTo("/balancas");
    }
}