<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DotnetBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cameras">
                <i class="bi bi-camera-video-fill" aria-hidden="true"></i> Cameras
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="balancas">
                <i class="bi bi-list-nested"></i> Balanças
            </NavLink>
        </div>
    </nav>
</div>

